<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:property="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	
	<!-- 
	<bean id="xmlFileViewResolver" class="org.springframework.web.servlet.view.XmlViewResolver"
	property:location="/WEB-INF/views.xml"
	property:order="1"/>
	
	<bean name="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer"
	property:definitions="/WEB-INF/tiles.xml"/>
	
	<bean name="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
	property:basename="/WEB-INF/i18n-es"
	/>
	-->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="prefix" value="/WEB-INF/pages/" />
    	<property name="suffix" value=".jsp" />
    </bean>
	 
	<import resource="application.context.xml"/>
	 
	<context:component-scan base-package="mx.any.example.rest.spring.services"/>
	
	<mvc:annotation-driven />
	
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="order" value="1" />
        <property name="messageConverters">
            <list>
                <!-- Default converters -->
                <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.FormHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
                <bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.BufferedImageHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
            </list>
        </property>
    </bean>
    
    
	
    
   
</beans>
